.menu {
  position: relative;
  /* top: 40%;
  right: 20%; */
}

.menu__button {
  padding: 0;
  background: none;
  border: none;
}

.menu__items {
  list-style: none;
  padding: 0;
  display: none;
  width: 260px;
  position: absolute;
  top: 100%;
  left: 0;
  transform: translate(0, 0);
}

.menu__items_type_visible {
  display: flex;
  flex-direction: column;
}

.menu__item {
  display: flex;
  align-items: center;
  padding: 10px 0;
  justify-content: space-between;
}